#abgne-block-20111227 {
width: 900px;
height: 500px;
position: relative;
overflow: hidden;
float:left;
margin:50px;
}
#abgne-block-20111227 ul, #abgne-block-20111227 ul li {
margin: 0;
padding: 0;
list-style: none;
}
#abgne-block-20111227 .lists {
height: 100%;
position: relative;
overflow: hidden;
}
#abgne-block-20111227 .lists img {
width: 100%;
height: 100%;
border: none;
}
#abgne-block-20111227 .controls {
width: 100%;
height: 35px;
position: absolute;
bottom: 0;
font-size: 13px;
z-index: 2;
}
#abgne-block-20111227 .controls li {
float: left;
}
#abgne-block-20111227 .controls li a {
display: block;
width: 44px;    /* 寬度會影響未放大前顯示的字數 */
height: 35px;
line-height: 35px;
margin-right: 1px;
text-align: center;
background: #006030;
color: #ea0000;
text-decoration: none;
}
#abgne-block-20111227 .controls li.selected a {
background: #d3d3d3;
}
.imgsize{
	height:650px;
	float:left;
	padding:50px;
	padding-left:100px;

}
.text_detail{
	margin-left:1000px;
	padding-top:80px;
    width:60%;
    line-height:48px;
    font-size:24px;
    font-family: Microsoft JhengHei;
    text-align:justify;
}
#container{
	width:100%;
}